// Place all the styles related to the series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.series-anchor {

  text-decoration: none !important;

  :hover {
    color: #000000; 
    background-color: transparent;
  }

  .series {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: auto;

    .text {
      margin-top: .5em;
      margin-bottom: .5em;
      margin-left: .5em;
    }
  }
}